[project]
	description = C++ for Dummies
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Edgar Sanchez Grajeda (EdSG)
[access "refs/for/refs/*"]
	read = group user/Edgar Sanchez Grajeda (EdSG)
	push = group user/Edgar Sanchez Grajeda (EdSG)
	label-Code-Review = -2..+2 group user/Edgar Sanchez Grajeda (EdSG)
	label-Verified = -1..+1 group user/Edgar Sanchez Grajeda (EdSG)
	rebase = group user/Edgar Sanchez Grajeda (EdSG)
	removeReviewer = group user/Edgar Sanchez Grajeda (EdSG)
	submit = group user/Edgar Sanchez Grajeda (EdSG)
[access "refs/heads/*"]
	read = group user/Edgar Sanchez Grajeda (EdSG)
	create = group user/Edgar Sanchez Grajeda (EdSG)
	push = +force group user/Edgar Sanchez Grajeda (EdSG)
	pushMerge = group user/Edgar Sanchez Grajeda (EdSG)
[access "refs/tags/*"]
	push = +force group user/Edgar Sanchez Grajeda (EdSG)
	pushTag = group user/Edgar Sanchez Grajeda (EdSG)
	pushSignedTag = group user/Edgar Sanchez Grajeda (EdSG)
